.sidebar > .sidebar-links > li > a.sidebar-link {
	font-size: 1.0em;
	line-height: 1.0;
	font-weight: bold;
}
.sidebar > .sidebar-links > li:not(:first-child) {
	margin-top: 0rem;
}
body {
	font-size: 16px;
}
a {
	font-weight: 400;
}
th {
	background-color: #F5F5F5;
}